:root {
  background-color: #63738a;
  font-family: "Radio Canada", sans-serif;
  --light-color: #f2f3f7;
  --brown-color: #5d5452;
  --indent-size: 2rem;
  --text-size: 14px;
}

section {
  width: 400px;
  margin: 100px auto;
  font-size: var(--text-size);
}

div {
  background-color: #f2f3f7;
}

h1,
p {
  text-align: center;
  font-weight: normal;
  color: var(--brown-color);
}
h1 {
  padding-top: 1.5rem;
  font-size: calc(var(--text-size)* 2) ;
}
input {
  margin-top: 0.5em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 2px;
}

label > *{
  color: #757575;
}

span > a {
  color: green;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;

  min-height: 350px;
  padding: 1.5rem;

  background-color: var(--light-color);
}

.capitalize {
  text-transform: capitalize;
}

.buttom-submit {
  width: 100%;

  background-color: #51ab51;
  color: var(--light-color);
  font-weight: bold;

  border-radius: 2px;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.footer-form,
.footer-form>*{
  color: var(--light-color);
}