:root {
  background-color: #63738a;
  font-family: "Radio Canada", sans-serif;
  --light-color: #f2f3f7;
  --brown-color: #5d5452;
  --indent-size: 2rem;
  --text-size: 14px;
}

.main {
  width: 400px;
  margin: auto;
  font-size: var(--text-size);
}

.main-container {
  background-color: #f2f3f7;
  position: relative;
}

.header,
.subtitle {
  text-align: center;
  font-weight: normal;
  color: var(--brown-color);
}

.header,
.header::before,
.header::after {
  padding-top: 1.5rem;
  font-size: calc(var(--text-size) * 2);
}

.header::before,
.header::after {
  content: "";
  border-bottom: 1px solid var(--brown-color);
  width: 25%;
  height: 0.5em;
  position: absolute;
  top: 0px;
  margin-left: calc(-25% - 10px);
}

.header::after {
  margin-left: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  margin: auto;
  min-height: 350px;
  max-width: 330px;

  background-color: var(--light-color);
}

.main-input {
  padding: 0.7em;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.main-input:focus {
  outline: none;
  box-shadow: inset 0 0 3px #aaa;
}
.info-line {
  display: flex;
  justify-content: space-between;
}

.info-line > .main-input{
  max-width: 160px;
}

.accept > * {
  color: #757575;
}

.form-link {
  color: green;
  text-decoration: none;
}

.capitalize {
  text-transform: capitalize;
}

.buttom-submit {
  max-width: 330px;
  width: 100%;

  background-color: #51ab51;
  color: var(--light-color);
  font-weight: bold;

  border-radius: 2px;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.footer-form,
.footer-form > * {
  color: var(--light-color);
}

.custom-checkbox {
  box-shadow: inset 0 0 5px #aaa;
}
