:root {
  background-color: #63738a;
  font-family: "Radio Canada", sans-serif;
  --light-color: #f2f3f7;
  --brown-color: #5d5452;
  --indent-size: 1rem;
  --text-size: 14px;
}

section {
  width: 400px;
  margin: 100px auto;
  font-size: var(--text-size);
}

div {
  background-color: #f2f3f7;
}

h1,
p {
  text-align: center;
  font-weight: normal;
  color: var(--brown-color);
}

input {
  margin-top: 0.5em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 2px;
}

label{
color: initial;
}

div + p,
div + p > a {
  color: var(--light-color);
}

span > a {
  color: green;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  
  min-height: 350px;
 
  padding: 0 var(--indent-size);

  background-color: var(--light-color);
}

.capitalize {
  text-transform: capitalize;
}

.buttom-submit {
  width: 100%;

  background-color: #51ab51;
  color: var(--light-color);
  font-weight: bold;

  border-radius: 2px;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
