:root {
  background-color: #63738a;
  font-family: "Radio Canada", sans-serif;
  --light-color: #f2f3f7;
  --brown-color: #5d5452;
  --indent-size: 2rem;
  --text-size: 14px;
}

section {
  width: 400px;
  margin: auto;
  font-size: var(--text-size);
}

div {
  background-color: #f2f3f7;
}

h1,
p {
  text-align: center;
  font-weight: normal;
  color: var(--brown-color);
}
h1 {
  padding-top: 1.5rem;
  font-size: calc(var(--text-size) * 2);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  min-height: 350px;

  background-color: var(--light-color);
}
.info-line {
  display: inline-block;
}

input {
  padding: 0.7em;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.info-line-person {
  width: 155px;
}

.distance {
  margin-right: 14px;
}
form > input {
  width: 330px;
}
label > * {
  color: #757575;
}

span > a {
  color: green;
  text-decoration: none;
}

.capitalize {
  text-transform: capitalize;
}

.buttom-submit {
  max-width: 330px;
  width: 100%;

  background-color: #51ab51;
  color: var(--light-color);
  font-weight: bold;

  border-radius: 2px;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.footer-form,
.footer-form > * {
  color: var(--light-color);
}

.custom-checkbox {
  box-shadow: #757575;
}
